.footer {
  padding-top: 20px;
  background-color: $main-color;
  position: fixed;
  display: flex;
  right: 0;
  bottom: 0;
  text-align: center; 
  width: 100%;
  justify-content: space-around;
  &__items {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 400;
    color: $second-color;
  }
}