.footer {
  background-color: $main-color;
  position: fixed;
  right: 0;
  bottom: 0;
  text-align: center; 
  width: 99%;   
  &__items {
    font-size: 19px;
    font-weight: bold;
    color: $second-color;
  }
}